.special {
    background-color: #ffecb3; /* Evidenzia lo sfondo per le email speciali */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .sent-email {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }